#hotelesApp{
    background: white;
    position: fixed !important;
    height: 100vh !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 99999 !important;
    max-width: unset !important;
    bottom: 0 !important
}
#searchHotels{
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    max-width: 1000004%;
    width: 111%;
    padding: 20px;
    font-family: sans-serif;
}
.height_inputs{
    height: 35px;
}
#select_input{
    width: 12.2em;
    font-family: sans-serif;
}
#site_input{
    width: 12.2em;
    font-family: sans-serif;
}
#selects{
    max-width: 10px;
}
.formLabel{
    font-size: 16px;
}